//color
$color-orange : #ff9800;
$color-background : rgba(128, 128, 128, 0.34);
$color-form : rgba(128, 128, 128, 0.629);
$color-white: white;
$color-red : red;

//font
$fs-1: 1rem;


//padding

$pd-0:0.4rem;
$pd-1: 1rem;
$pd-2: 2.5rem;
$pd-3: 3.125rem;


//margin
$mg-0: 0.4rem;
$mg-1: 1rem;
$mg-2: 2rem;


//bd
$bd-5: 10px;